.page-main {

    padding: 0;

    &__wrapper {
        background: none;
        overflow-x: hidden;
    }

    &__inner {
        padding: 0;
    }

    &__square {
        position: absolute;
        background-color: $primary;
        z-index: 1;
        height: 100%;
        top: 0;
        left: 250px;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        width: 50vw;

        @media (max-width: 880px) {
            width: 100%;
            left: 50%;
        }
    }

    &__blue {
        padding: 30px 0;
        position: relative;

        @media (max-width: 1000px) {
            max-width: 500px;

            @media (max-width: 880px) {
                max-width: 100%;
            }
        }
    }

    &__img {
        position: relative;
        z-index: 2;
        max-width: 500px;
        height: 500px;

        @media (max-width: 1000px) {
            max-width: 430px;
            height: 440px;

            @media (max-width: 880px) {
                max-width: 100%;
                height: 360px;
            }
        }

        img {
            width: 100%;
            border-radius: 20px;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 880px) {
            display: block;
        }
    }

    &__description {
        padding-top: 30px;
    }

    &__title {
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 28px;

        span {
            color: $primary
        }

        @media (max-width: 1000px) {
            margin-bottom: 10px;

            @media (max-width: 500px) {
                font-size: 32px;
            }
        }
    }

    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        max-width: 540px;
        margin-bottom: 28px;

        a {
            font-weight: 500;
        }

        &.with-bottom {
            margin-bottom: 10px;

            @media (max-width: 500px) {
                margin-bottom: 0px;
            }
        }

        &.light {
            font-weight: 500;
        }

        @media (max-width: 1000px) {
            margin-bottom: 20px;

            @media (max-width: 500px) {
                font-size: 20px;
            }
        }
    }

    &__points {
        margin-left: 25px;
        margin-bottom: 60px;
    }

    &__point {
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }

        p {
            font-weight: 500;
            font-size: 20px;
        }

        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }


}