@import "variables";

.breadcrumbs {
    // padding: 20px 0;

    @media (max-width: 1000px) {
        padding-bottom: 0;
    }

    .container {
        position: relative;
    }

    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        position: absolute;
        top: 0;
        left: 30px;
        z-index: 2;
    }

    &__item {
        display: flex;
        align-items: center;

        a {
            font-size: 16px;
            color: #707070;
            margin-right: 10px;
        }

        img {
            margin-right: 10px;
            width: 12px;
            height: 12px;
        }

        &:last-child {
            a {
                font-weight: 700;
                margin-right: 0;
            }

            img {
                display: none;
            }
        }
    }
}