.cards-items {

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            @media (max-width: 560px) {
                display: block;
            }
        }
    }
}

.cards-item {

    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;

    &__info {
        padding: 12px 19px 24px;

        h3 {
            font-size: 16px;
        }
    }

    &__img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 260px;
    }

    &__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
    }

    @media (max-width: 560px) {

        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}