@import "variables";

.catalog-item {

    max-width: 380px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    padding-bottom: 24px;
    display: flex !important;
    flex-direction: column;
    height: auto !important;

    &:last-child {
        margin-right: 0
    }

    &__info {
        padding-top: 12px;
        padding-left: 19px;
        padding-right: 19px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        h3 {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    &__img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: contain;
        object-position: center;
        height: 260px;
        width: 100%;
    }

    &__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 3px;
    }

    &__cost {
        font-weight: 700;
        font-size: 20px;
        color: $primary;
        margin-bottom: 10px;
    }

    &__features {
        flex: 1 1 auto;
    }

    &__feature {
        font-size: 14px;
        color: #414141;

        span {
            font-weight: 500;
        }

        svg {
            margin-right: 3px;
        }
    }

    &__btn {
        margin-top: 17px;
        text-align: center;
        display: block;
        width: 100%;
    }
}