@import "variables";

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $dark;
    overflow-x: hidden;

    &.lock {
        overflow-y: hidden;
    }
}

.body__wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: 600px) {
        padding: 10px;
    }
}

.title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 22px;

    @media (max-width: 880px) {
        line-height: 32px;
        margin-bottom: 20px;
    }
}

.wrapper {
    padding-top: 140px;

    @media (max-width: 1000px) {
        padding-top: 80px;
    }
}

.section {
    padding: 40px 0;

    &.light-bg-section {
        background: $lightbg;
    }

    @media (max-width: 880px) {
        padding: 20px 0;
    }
}

.first__section {
    padding-top: 20px;
}

.logo {
    width: 240px;

    @media (max-width: 1000px) {
        width: 220px;

        @media (max-width: 500px) {
            width: 200px;
        }
    }
}

.btn {
    background-color: $primary;
    padding: 11px 31px;
    border: 3px solid $primary;
    color: #FFF;
    border-radius: 5px;
    transition: all .2s ease;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    cursor: pointer;

    &:disabled {
        background-color: $lightgray;
        color: $gray;
        border: 3px solid transparent;

        &:hover {
            cursor: default;
            background-color: $lightgray;
            color: $gray;
            border: 3px solid transparent;
        }
    }

    &:hover {
        border: 3px solid $primary;
        background: transparent;
        color: $primary;
    }
}


.btn-light {
    font-weight: 500;
    font-size: 20px;
    border: 3px solid $primary;
    color: $primary;
    border-radius: 5px;
    padding: 11px 41px;
    transition: all .2s ease;
    background: transparent;

    cursor: pointer;

    &:hover {
        background: $primary;
        color: #FFF;
    }

    &:disabled {
        background-color: $lightgray;
        color: $gray;
        border: 3px solid transparent;

        &:hover {
            cursor: default;
            background-color: $lightgray;
            color: $gray;
            border: 3px solid transparent;
        }
    }
}

.btn-icon {
    position: relative;
    width: 100%;
    text-align: left;

    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;

        path {
            transition: all .2s ease;
        }

        rect {
            transition: all .2s ease;
        }
    }

    span {
        position: relative;
        left: 18px;
        transition: all .1s ease;
    }

    &:hover {
        svg {
            path {
                fill: #FFF;
                stroke: #FFF;
            }

            rect {
                stroke: #FFF;
            }
        }
    }
}

.square-bg {
    background-color: $primary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
}

.swiper {
    user-select: none;
}