.contacts-main {

    padding: 10px 0;

    &__wrapper {
        background: none;
    }

    &__inner {
        padding: 0;
    }

    &__square {
        top: 0;
        left: 250px;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 50vw;
    }

    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__description {}

    &__content {}

    &__title {
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 28px;

        span {
            color: $primary;
        }
    }

    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        max-width: 540px;
        margin-bottom: 28px;

        a {
            font-weight: 500;
        }

        &.with-bottom {
            margin-bottom: 10px;
        }

        &.light {
            font-weight: 500;
        }
    }

    &__points {
        margin-left: 25px;
        margin-bottom: 60px;
    }

    &__point {
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }

        p {
            font-weight: 500;
            font-size: 20px;
        }

        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__map {
        width: 500px;
        height: 560px;
        padding: 30px 0;
        position: relative;

        iframe {
            position: relative;
            z-index: 2;
            border-radius: 20px;
        }
    }
}