.delivery-main {}


.delivery-map {

    &__text {
        margin-bottom: 20px;
        font-size: 20px;
        color: $lightdark;
    }

    &__img {}
}


.delivery-table {

    &__wrapper {
        overflow: auto;
    }

    &__table {
        min-width: 925px;
        border-radius: 5px;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        margin-bottom: 20px;

        tr {
            &:last-child {
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }

    }

    &__header {
        background: $primary;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0;

        &:first-child {
            border-top-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
        }
    }

    &__column {
        padding: 10px 20px;
        border-width: 1px;
        border-color: $borderlight;
        border-style: solid;
        width: 25%;
        text-align: center;

        &.left {
            text-align: left;
        }
    }

    &__blue {
        background-color: $lightbg;
    }
}