.main-request {

    &__title {}

    &__inner {
        display: flex;
        align-items: center;

        @media (max-width: 880px) {
            justify-content: center;
            padding: 0;
        }
    }

    &__square {
        width: 290px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        @media (max-width: 880px) {
            display: none;
        }
    }

    &__wrapper {
        background: linear-gradient(90deg, rgba(7, 105, 205, 1) 48%, rgba(255, 255, 255, 1) 48%);

        @media (max-width: 880px) {
            background: transparent;
        }
    }

    &__img {
        margin-right: 88px;

        @media (max-width: 880px) {
            display: none;
        }
    }
}

.form {
    width: 100%;
    height: 100%;

    @media (max-width: 880px) {
        max-width: 500px;
    }

    input {
        width: 100%;
        padding: 15px 0 15px 15px;
        border-radius: 10px;
        border: 2px solid #727272;
        outline: 0;

        margin-bottom: 20px;

        &:focus {
            border: 2px solid $primary;
        }

    }

    textarea {
        width: 100%;
        max-width: 100%;
        padding: 15px 0 15px 15px;
        border-radius: 10px;
        border: 2px solid #727272;
        outline: 0;
        margin-bottom: 10px;
        resize: none;

        &:focus {
            border: 2px solid $primary;
        }
    }

    .checkbox {
        margin-bottom: 16px;
    }

    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;

        cursor: pointer;
    }

    .custom-checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid $primary;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        position: relative;
        top: -1px;
    }

    .custom-checkbox:checked+label::before {
        border-color: $primary;
        background-color: #fff;
        background-image: url(../img/form/tick.svg);
        background-size: 10px;

    }

    &__btn {}
}