.main-request {

    &__title {}

    &__inner {

        @media (max-width: 880px) {
            justify-content: center;
            padding: 0;
        }
    }

    &__info {
        align-items: center;
    }

    &__square {
        top: 0;
        left: auto;
        right: 250px;

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 50vw;

        @media (max-width: 880px) {
            display: none;
        }
    }

    &__img {
        margin-right: 20px;

        @media (max-width: 880px) {
            display: none;
        }
    }

    &__blue {
        @media (max-width: 880px) {
            display: none;
        }
    }
}

.form {
    height: 100%;

    @media (max-width: 880px) {
        max-width: 500px;
    }

    input {
        width: 100%;
        padding: 15px 0 15px 15px;
        border-radius: 10px;
        border: 2px solid #727272;
        outline: 0;

        margin-bottom: 20px;

        &:focus {
            border: 2px solid $primary;
        }

    }

    textarea {
        width: 100%;
        max-width: 100%;
        padding: 15px 0 15px 15px;
        border-radius: 10px;
        border: 2px solid #727272;
        outline: 0;
        margin-bottom: 10px;
        resize: none;

        &:focus {
            border: 2px solid $primary;
        }
    }

    .checkbox {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
            width: auto;
            padding: 0;
            border-radius: 0px;
            border: 0;
            outline: 0;
            margin-bottom: 0;
            margin-top: -1px;
            cursor: pointer !important;
        }

        label {
            cursor: pointer !important;
        }
    }

    // .custom-checkbox {
    //     position: absolute;
    //     z-index: -1;
    //     opacity: 0;
    // }

    // .custom-checkbox+label {
    //     display: inline-flex;
    //     align-items: center;
    //     user-select: none;

    //     cursor: pointer;
    // }

    // .custom-checkbox+label::before {
    //     content: '';
    //     display: inline-block;
    //     width: 1em;
    //     height: 1em;
    //     flex-shrink: 0;
    //     flex-grow: 0;
    //     border: 2px solid $primary;
    //     border-radius: 0.25em;
    //     margin-right: 0.5em;
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-size: 50% 50%;
    //     position: relative;
    //     top: -1px;
    // }

    // .custom-checkbox:checked+label::before {
    //     border-color: $primary;
    //     background-color: #fff;
    //     background-image: url(../img/form/tick.svg);
    //     background-size: 10px;

    // }

    &__btn {}
}