@import "variables";

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0 auto;
    font-weight: 700;
    background: #FFF;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid $borderlight;
        position: relative;

        @media (max-width: 1000px) {
            border: 0;
            padding: 14px 0;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__contact {
        margin-right: 45px;
        font-size: 18px;
        font-weight: 700;

        &:last-child {
            margin-right: 0px;
        }

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &__bottom {
        padding: 12px 0;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    &__link {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;

        a {
            position: relative;
            /*задаём цвет ссылки*/
            cursor: pointer;
            line-height: 1.1;
            /*задаём высоту строки*/
            text-decoration: none;
            /*убираем подчёркивание*/


            &:after {
                display: block;
                position: absolute;
                left: 0;
                /*изменить на right:0;, чтобы изменить направление подчёркивания */
                width: 0;
                /*задаём длинну линии до наведения курсора*/
                height: 2px;
                /*задаём ширину линии*/
                background-color: $primary;
                /*задаём цвет линии*/
                content: "";
                transition: width 0.2s ease-out;
                /*задаём время анимации*/
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
                /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
            }
        }

        img {
            width: 13px;
            height: 8px;
            margin-left: 5px;
        }
    }
}

.hamburger-menu {
    display: none;

    @media (max-width: 1000px) {
        display: block;
    }
}

#menu__toggle {
    opacity: 0;
    display: none;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.body__wrapper {
    overflow: hidden;
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;

    cursor: pointer;
    z-index: 3000;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 3px;
    border-radius: 1px;

    background-color: $primary;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    z-index: 2000;
    visibility: hidden;
    overflow-y: auto;
    top: 0;
    right: -100%;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 10px 0 !important;

    list-style: none;

    background-color: #FFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__box-links {
    max-height: 420px;
    overflow-y: auto;
}

.menu__box-btns {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 500px;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: $dark;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;

    &.blue {
        background-color: $primary;
        color: #FFF;
    }

    &.logo:hover {
        background-color: transparent;
    }

    &.margin-bottom {
        margin-bottom: 40px;
    }

    &.contact {
        text-align: center;
        padding: 10px 0;
    }

    &.btn {
        margin: 0 auto;
        margin-top: 10px;
        max-width: 280px;
        color: #FFF;
        text-align: center;
    }
}

.menu__item:hover {
    background-color: $primary;
    color: #FFF;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

    a {
        display: flex;
        align-items: center;

        &::after,
        &::before {
            display: none;
        }
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    padding: 20px 30px;
    margin-top: 10px;
    color: $dark;
    position: absolute;
    width: 100%;
    min-width: 160px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

/* Change color of dropdown links on hover */
.dropdown-content {
    a {
        position: relative;
        /*задаём цвет ссылки*/
        cursor: pointer;
        line-height: 1.1;
        /*задаём высоту строки*/
        text-decoration: none;
        /*убираем подчёркивание*/
        display: inline-block;
        margin-bottom: 14px;
        white-space: nowrap;

        &:last-child {
            margin-bottom: 0;
        }


        &:after {
            display: block;
            position: absolute;
            left: 0;
            /*изменить на right:0;, чтобы изменить направление подчёркивания */
            width: 0;
            /*задаём длинну линии до наведения курсора*/
            height: 2px;
            /*задаём ширину линии*/
            background-color: $primary;
            /*задаём цвет линии*/
            content: "";
            transition: width 0.2s ease-out;
            /*задаём время анимации*/
        }

        &:hover:after,
        &:focus:after {
            width: 100%;
            /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
    }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #FFF;
    text-align: left;
    outline: none;
    transition: 0.4s;

    &:after {
        content: url(../img/career/arrow.svg);
        float: right;
        margin-left: 5px;
        transition: all .2s ease;
    }

    &.active,
    &:hover {
        background-color: $primary;
        color: #FFF;

        &:after {
            color: #FFF;
        }
    }

    &.active::after {
        transform: scale(1, -1);
        content: url(../img/career/arrow-wht.svg);
    }
}

.panel {
    padding: 0 18px;
    background-color: #FFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}