.main-slider {
    margin-top: 24px;

    color: $dark;

    &__wrapper {
        padding: 10px 0;
    }

    &__body {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 48%, rgba(7, 105, 205, 1) 48%);
    }

    &__content {}

    &__square {
        width: 250px;
        right: 0;
        top: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }


    &__description {
        // margin-left: 30px;
    }

    &__img {
        object-fit: cover;
        object-position: center;
    }

    &__title {
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 28px;

        span {
            color: $primary
        }
    }

    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        max-width: 540px;
        margin-bottom: 28px;
    }

    &__points {
        margin-left: 25px;
        margin-bottom: 60px;
    }

    &__point {
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }

        p {
            font-weight: 500;
            font-size: 20px;
        }

        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        margin-bottom: 140px;
    }

    .main__pagination {
        position: relative;
        top: 40px;
    }

    .swiper-pagination {
        position: absolute;
        text-align: left;
        left: 0;
        bottom: 70px !important;
    }

    .swiper-pagination-bullet {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        opacity: 1;
        background: rgb(196, 196, 196);
        transition: all .2s ease;
        margin: 0 7px !important;

        &:first-child {
            margin-left: 0px !important;
        }
    }

    .swiper-pagination-bullet-active {
        width: 36px;
        border-radius: 10px;
        background: #007aff;
    }


}


.main-catalog {

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

}


.main-about {
    background-color: #FFF;

    &__title {}

    &__wrapper {
        background: linear-gradient(90deg, rgba(7, 105, 205, 1) 48%, rgba(255, 255, 255, 1) 48%);
    }

    &__inner {
        background-color: #FFF;
        position: relative;
    }


    &__square {
        width: 250px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        left: 0;
        top: 0;
    }

    &__img {
        object-fit: cover;
        border-radius: 10px;
        margin-right: 88px;
        // box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    }

    &__description {
        max-width: 580px;
        padding-bottom: 10px;
    }

    &__about {
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 24px
    }

    &__p {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;

        color: $lightdark;

        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 55px;
        }
    }

}

.main-deal {

    &__title {}

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    &__card {
        max-width: 380px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 14px;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
    }

    &__number {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 69.9%;
        color: #0769CD;
        margin-right: 16px;
    }

    &__card-title {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        max-width: 190px;
    }

    &__img {
        max-width: 115px;
        max-height: 115px;
        object-fit: contain;
    }
}

.main-trust {

    &__container {
        overflow: hidden;
    }

    &__title {
        margin-bottom: 6px;
    }

    &__slider {
        overflow: visible !important;
    }

    &-slider-wrapper {
        padding: 20px 0 40px;
    }

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 15px 24px;
    }

    &__img {
        width: 250px;
        height: 70px;
        object-fit: contain;
        margin: auto;
    }

    &-pagination {
        bottom: 0 !important;

        .swiper-pagination-bullet {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            text-align: center;
            line-height: 30px;
            font-size: 12px;
            opacity: 1;
            background: #dadada;
            transition: all .2s ease;
            margin: 0 5px !important;
        }

        .swiper-pagination-bullet-active {
            background: $primary;
            width: 36px;
            border-radius: 20px;
        }
    }
}

.main-request {

    &__title {}

    &__inner {
        display: flex;
        align-items: center;
    }

    &__square {
        width: 290px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__wrapper {
        background: linear-gradient(90deg, rgba(7, 105, 205, 1) 48%, rgba(255, 255, 255, 1) 48%);
    }

    &__img {
        margin-right: 88px;
    }
}