.main-slider {
    margin-top: 24px;

    &__btn {
        margin-bottom: 140px;
    }

    .main__pagination {
        position: relative;
        top: 40px;
    }

    .swiper-pagination {
        position: absolute;
        text-align: left;
        left: 0;
        bottom: 70px !important;
    }

    .swiper-pagination-bullet {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        opacity: 1;
        background: rgb(196, 196, 196);
        transition: all .2s ease;
        margin: 0 7px !important;

        &:first-child {
            margin-left: 0px !important;
        }
    }

    .swiper-pagination-bullet-active {
        width: 36px;
        border-radius: 10px;
        background: #007aff;
    }


}


.main-catalog {

    &__container {
        overflow: hidden;
    }

    &__slider {
        overflow: visible !important;
    }

    &__list {
        padding-bottom: 40px !important;
    }

    .swiper-pagination {
        bottom: 0 !important;

        .swiper-pagination-bullet {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            text-align: center;
            line-height: 30px;
            font-size: 12px;
            opacity: 1;
            background: #dadada;
            transition: all .2s ease;
            margin: 0 5px !important;
        }

        .swiper-pagination-bullet-active {
            background: $primary;
            width: 36px;
            border-radius: 20px;
        }
    }

}


.main-about {
    background-color: #FFF;

    &__description {
        max-width: 580px;
        padding-bottom: 10px;
    }

    &__about {
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 24px
    }

    &__p {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;

        color: $lightdark;

        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 55px;
        }
    }

    &__square {
        top: 0;
        left: auto;
        right: 250px;

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 50vw;
    }

}

.main-deal {

    &__title {}

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);

            @media (max-width: 630px) {
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                max-width: 340px;

                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__card {
        max-width: 380px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 14px;
        display: flex;
        flex-direction: column;

        @media (max-width: 630px) {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        flex: 1 1 auto;
    }

    &__number {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 69.9%;
        color: #0769CD;
        margin-right: 16px;

        @media (max-width: 720px) {
            font-size: 54px;
        }
    }

    &__card-title {
        font-weight: 700;
        font-size: 20px;
        text-align: center;

        @media (max-width: 720px) {
            font-size: 18px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        max-width: 190px;
    }

    &__img {
        max-width: 115px;
        max-height: 115px;
        object-fit: contain;

        @media (max-width: 720px) {
            max-width: 70px;
            max-height: 70px;
        }
    }
}

.main-trust {

    &__container {
        overflow: hidden;
    }

    &__title {
        margin-bottom: 6px;
    }

    &__slider {
        overflow: visible !important;
    }

    &-slider-wrapper {
        padding: 20px 0 40px;
    }

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 15px 24px;
    }

    &__img {
        width: 250px;
        height: 70px;
        object-fit: contain;
        margin: auto;
    }

    &-pagination {
        bottom: 0 !important;

        .swiper-pagination-bullet {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            text-align: center;
            line-height: 30px;
            font-size: 12px;
            opacity: 1;
            background: #dadada;
            transition: all .2s ease;
            margin: 0 5px !important;
        }

        .swiper-pagination-bullet-active {
            background: $primary;
            width: 36px;
            border-radius: 20px;
        }
    }
}