.object {

    &__cards {}

    &__card {
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 30px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.object-card {

    margin-bottom: 30px;

    &:last-child {
        margin: 0;
    }

    &__info {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                color: $lightdark;
                font-size: 18px;

                span {
                    font-weight: 700
                }
            }
        }
    }

    &__title {
        font-size: 28px;
        color: $primary;
        margin-bottom: 15px;
    }

    &__slider {
        min-width: 0;
        max-width: 400px;
    }
}


.object-slider {

    &__wrapper {}

    &__slide {
        img {
            width: 400px;
            height: 300px;
            border-radius: 10px;
            object-fit: cover;
            object-position: center;
        }
    }

    .swiper-pagination {
        position: relative;
        top: 0px !important;
    }

    .swiper-pagination-bullet {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
        opacity: 1;
        background: rgb(196, 196, 196);
        transition: all .2s ease;
        margin: 0 7px !important;

        &:first-child {
            margin-left: 0px !important;
        }
    }

    .swiper-pagination-bullet-active {
        width: 30px;
        border-radius: 10px;
        background: #007aff;
    }

}