.page-main {

    padding: 10px 0;

    &__wrapper {}

    &__inner {}

    &__square {
        top: 0;
        right: 0;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1000px) {
            flex-wrap: wrap;
        }
    }

    &__description {}

    &__title {
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 28px;

        span {
            color: $primary
        }

        @media (max-width: 1000px) {
            margin-bottom: 10px;

            @media (max-width: 500px) {
                font-size: 32px;
            }
        }
    }

    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        max-width: 540px;
        margin-bottom: 28px;

        a {
            font-weight: 500;
        }

        &.with-bottom {
            margin-bottom: 10px;
        }

        &.light {
            font-weight: 500;
        }

        @media (max-width: 1000px) {
            margin-bottom: 15px;

            @media (max-width: 500px) {
                font-size: 20px;
            }
        }
    }

    &__points {
        margin-left: 25px;
        margin-bottom: 60px;
    }

    &__point {
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }

        p {
            font-weight: 500;
            font-size: 20px;
        }

        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        object-fit: cover;
        object-position: center;
    }
}