/* Popup */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 5000;


    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: default;
}

.popup_body {
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    overflow: auto;

    @media (max-width: 600px) {
        padding: 20px;
    }
}

.popup_content_politic {
    padding-top: 50px;
    max-width: 800px;
}

.popup_form {
    display: flex;
    flex-direction: column;
}

.form_input {
    margin-bottom: 30px;
    padding: 14px 0 14px 30px;
    border: none;
    background-color: #F4F2F2;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid transparent;
}

.form_input:focus,
.form_textarea:focus {
    outline: none;
    border: 2px solid $primary;
}

.form_textarea {
    padding: 14px 30px;
    border: none;
    background-color: #F4F2F2;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.popup_btn {
    padding: 12px 0;
    width: 300px;
    margin: 30px auto 0;

    &:disabled {
        background-color: #F4F2F2;
        color: #727272;
    }

    @media (max-width: 600px) {
        margin: 0;
        width: 100%;
    }
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 16px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    cursor: pointer;

    @media (max-width: 600px) {
        font-size: 14px;
    }
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $primary;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: $primary;
    background-color: #fff;
    background-image: url(../img/form/tick.svg);
    background-size: 10px;
}

textarea {
    resize: none;
    width: 100%;
}