@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
    padding: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #101010;
}

body.lock {
    overflow-y: hidden;
}

.body__wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}

.title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 22px;
}

@media (max-width: 880px) {
    .title {
        line-height: 32px;
        margin-bottom: 20px;
    }
}

.wrapper {
    padding-top: 140px;
}

@media (max-width: 1000px) {
    .wrapper {
        padding-top: 70px;
    }
}

.section {
    padding: 40px 0;
}

.section.light-bg-section {
    background: #F3F9FF;
}

@media (max-width: 880px) {
    .section {
        padding: 20px 0;
    }
}

.first-section {
    padding-top: 50px;
}

@media (max-width: 880px) {
    .first-section {
        padding-top: 20px;
    }
}

.logo {
    width: 240px;
}

@media (max-width: 1000px) {
    .logo {
        width: 220px;
    }
}

@media (max-width: 1000px) and (max-width: 500px) {
    .logo {
        width: 200px;
    }
}

.btn {
    background-color: #1d6bb9;
    padding: 11px 31px;
    border: 2px solid #1d6bb9;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ease;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn:disabled {
    background-color: #F6F6F6;
    color: #707070;
    border: 2px solid transparent;
}

.btn:disabled:hover {
    cursor: default;
    background-color: #F6F6F6;
    color: #707070;
    border: 2px solid transparent;
}

.btn:hover {
    border: 2px solid #1d6bb9;
    background: transparent;
    color: #1d6bb9;
}

.btn-light {
    font-weight: 500;
    font-size: 20px;
    border: 2px solid #1d6bb9;
    color: #1d6bb9;
    border-radius: 5px;
    padding: 11px 41px;
    transition: all 0.2s ease;
    background: transparent;
    white-space: nowrap;
    cursor: pointer;
}

.btn-light:hover {
    background: #1d6bb9;
    color: #FFF;
}

.btn-light:disabled {
    background-color: #F6F6F6;
    color: #707070;
    border: 2px solid transparent;
}

.btn-light:disabled:hover {
    cursor: default;
    background-color: #F6F6F6;
    color: #707070;
    border: 2px solid transparent;
}

.btn-icon {
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 11px;
    margin-bottom: 20px;
}

.btn-icon__inner {
    display: flex;
    justify-content: center;
}

.btn-icon:last-child {
    margin-bottom: 0;
}

.btn-icon svg {
    width: 30px;
    height: 30px;
    flex: 0 0 auto;
    display: block;
}

.btn-icon svg path {
    transition: all 0.2s ease;
}

.btn-icon svg rect {
    transition: all 0.2s ease;
}

.btn-icon span {
    position: relative;
    left: 18px;
    transition: all 0.1s ease;
}

.btn-icon:hover svg path {
    fill: #FFF;
    stroke: #FFF;
}

.btn-icon:hover svg rect {
    stroke: #FFF;
}

.square-bg {
    background-color: #1d6bb9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
}

.swiper {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.page-main {
    padding: 0;
}

@media (max-width: 880px) {
    .page-main {
        padding: 20px 0;
    }
}

.page-main__wrapper {
    background: none;
    overflow-x: hidden;
}

.page-main__inner {
    padding: 0;
}

.page-main__square {
    position: absolute;
    background-color: #1d6bb9;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 250px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50vw;
}

@media (max-width: 880px) {
    .page-main__square {
        width: 100%;
        left: 50%;
    }
}

.page-main__blue {
    padding: 30px 0;
    position: relative;
}

@media (max-width: 1000px) {
    .page-main__blue {
        max-width: 500px;
    }
}

@media (max-width: 1000px) and (max-width: 880px) {
    .page-main__blue {
        max-width: 100%;
    }
}

.page-main__img {
    position: relative;
    z-index: 2;
    width: 560px;
    height: 460px;
    flex: 1 1 auto;
}

@media (max-width: 1100px) {
    .page-main__img {
        width: 480px;
        height: 420px;
    }
}

@media (max-width: 1100px) and (max-width: 880px) {
    .page-main__img {
        width: 100%;
    }
}

@media (max-width: 1100px) and (max-width: 880px) and (max-width: 560px) {
    .page-main__img {
        height: 300px;
    }
}

.page-main__img img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.page-main__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 880px) {
    .page-main__info {
        display: block;
    }
}

.page-main__description {
    margin-right: 20px;
    position: relative;
    top: 50px;
}

@media (max-width: 880px) {
    .page-main__description {
        top: 0;
    }
}

.page-main__title {
    font-weight: 900;
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.page-main__title span {
    color: #1d6bb9;
}

@media (max-width: 1100px) {
    .page-main__title {
        margin-bottom: 10px;
        font-size: 30px;
    }
}

.page-main__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    max-width: 540px;
    margin-bottom: 16px;
}

@media (max-width: 880px) {
    .page-main__text {
        font-size: 20px;
    }
}

@media (max-width: 880px) and (max-width: 600px) {
    .page-main__text {
        margin-bottom: 10px;
    }
}

.page-main__text a {
    font-weight: 500;
}

.page-main__text.with-bottom {
    margin-bottom: 0px;
}

@media (max-width: 500px) {
    .page-main__text.with-bottom {
        margin-bottom: 0px;
    }
}

.page-main__text.light {
    font-weight: 500;
}

.page-main__points {
    margin-left: 25px;
    margin-bottom: 50px;
}

@media (max-width: 880px) {
    .page-main__points {
        margin-bottom: 30px;
    }
}

.page-main__point {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.page-main__point svg {
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

.page-main__point p {
    font-weight: 500;
    font-size: 18px;
}

@media (max-width: 880px) {
    .page-main__point {
        margin-bottom: 10px;
    }
}

.page-main__point:last-child {
    margin-bottom: 0;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0 auto;
    font-weight: 700;
    background: #FFF;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}

@media (max-width: 1000px) {
    .header__top {
        border: 0;
        padding: 14px 0;
    }
}

.header__contacts {
    display: flex;
    align-items: center;
}

.header__contact {
    margin-right: 45px;
    font-size: 18px;
    font-weight: 700;
}

.header__contact:last-child {
    margin-right: 0px;
}

@media (max-width: 1000px) {
    .header__contact {
        display: none;
    }
}

.header__bottom {
    padding: 12px 0;
}

@media (max-width: 1000px) {
    .header__bottom {
        display: none;
    }
}

.header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.header__link {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.header__link a {
    position: relative;
  /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1.1;
  /*задаём высоту строки*/
    text-decoration: none;
  /*убираем подчёркивание*/
}

.header__link a:after {
    display: block;
    position: absolute;
    left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
  /*задаём длинну линии до наведения курсора*/
    height: 2px;
  /*задаём ширину линии*/
    background-color: #1d6bb9;
  /*задаём цвет линии*/
    content: "";
    transition: width 0.2s ease-out;
  /*задаём время анимации*/
}

.header__link a:hover:after, .header__link a:focus:after {
    width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.header__link img {
    width: 13px;
    height: 8px;
    margin-left: 5px;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 1000px) {
    .hamburger-menu {
        display: block;
    }
}

#menu__toggle {
    opacity: 0;
    display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .body__wrapper {
    overflow: hidden;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 3000;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: #1d6bb9;
    transition-duration: 0.25s;
}

.menu__btn > span::before {
    content: "";
    top: -8px;
}

.menu__btn > span::after {
    content: "";
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    z-index: 2000;
    visibility: hidden;
    overflow-y: auto;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0 !important;
    list-style: none;
    background-color: #FFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #101010;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu__item.blue {
    background-color: #1d6bb9;
    color: #FFF;
}

.menu__item.logo:hover {
    background-color: transparent;
}

.menu__item.margin-bottom {
    margin-bottom: 40px;
}

.menu__item.contact {
    text-align: center;
}

.menu__item.btn {
    margin: 0 auto;
    margin-top: 12px;
    max-width: 280px;
    color: #FFF;
    text-align: center;
}

.menu__item:hover {
    background-color: #1d6bb9;
    color: #FFF;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    display: flex;
    align-items: center;
}

.dropdown a::after, .dropdown a::before {
    display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    padding: 20px 30px;
    margin-top: 10px;
    color: #101010;
    position: absolute;
    width: 100%;
    min-width: 160px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

/* Change color of dropdown links on hover */
.dropdown-content a {
    position: relative;
  /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1.1;
  /*задаём высоту строки*/
    text-decoration: none;
  /*убираем подчёркивание*/
    display: inline-block;
    margin-bottom: 14px;
    white-space: nowrap;
}

.dropdown-content a:last-child {
    margin-bottom: 0;
}

.dropdown-content a:after {
    display: block;
    position: absolute;
    left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
  /*задаём длинну линии до наведения курсора*/
    height: 2px;
  /*задаём ширину линии*/
    background-color: #1d6bb9;
  /*задаём цвет линии*/
    content: "";
    transition: width 0.2s ease-out;
  /*задаём время анимации*/
}

.dropdown-content a:hover:after, .dropdown-content a:focus:after {
    width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #FFF;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: url(../img/career/arrow.svg);
    color: #1d6bb9;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active, .accordion:hover {
    background-color: #1d6bb9;
    color: #FFF;
}

.accordion.active:after, .accordion:hover:after {
    color: #FFF;
}

.accordion.active::after {
    content: "−";
    color: #FFF;
}

.panel {
    padding: 0 18px;
    background-color: #FFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media (max-width: 1000px) {
    .breadcrumbs {
        padding-bottom: 0;
    }
}

.breadcrumbs .container {
    position: relative;
}

.breadcrumbs__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item a {
    font-size: 16px;
    color: #707070;
    margin-right: 10px;
}

.breadcrumbs__item img {
    margin-right: 10px;
    width: 12px;
    height: 12px;
}

.breadcrumbs__item:last-child a {
    font-weight: 700;
    margin-right: 0;
}

.breadcrumbs__item:last-child img {
    display: none;
}

.main-slider {
    margin-top: 24px;
}

@media (max-width: 600px) {
    .main-slider {
        margin-top: 0;
    }
}

.main-slider .main__pagination {
    position: relative;
    top: 40px;
}

@media (max-width: 960px) {
    .main-slider .main__pagination {
        top: 75px;
    }
}

@media (max-width: 960px) and (max-width: 880px) {
    .main-slider .main__pagination {
        top: 40px;
    }
}

@media (max-width: 600px) {
    .main-slider__description {
        margin-bottom: 30px;
    }
}

.main-slider .swiper-pagination {
    position: absolute;
    text-align: left;
    left: 0;
    bottom: 70px !important;
}

@media (max-width: 880px) {
    .main-slider .swiper-pagination {
        bottom: 40px !important;
    }
}

.main-slider .swiper-pagination-bullet {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    opacity: 1;
    background: rgb(196, 196, 196);
    transition: all 0.2s ease;
    margin: 0 7px !important;
}

.main-slider .swiper-pagination-bullet:first-child {
    margin-left: 0px !important;
}

.main-slider .swiper-pagination-bullet-active {
    width: 36px;
    border-radius: 10px;
    background: #007aff;
}

.main-catalog {
    background-color: #F3F9FF;
    margin-top: 40px;
}

.main-catalog__container {
    overflow: hidden;
    align-items: stretch !important;
}

.main-catalog__slider {
    overflow: visible !important;
}

.main-catalog__list {
    padding-bottom: 40px !important;
}

.main-catalog .swiper-pagination {
    bottom: 0 !important;
}

.main-catalog .swiper-pagination .swiper-pagination-bullet {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    opacity: 1;
    background: #dadada;
    transition: all 0.2s ease;
    margin: 0 5px !important;
}

.main-catalog .swiper-pagination .swiper-pagination-bullet-active {
    background: #1d6bb9;
    width: 36px;
    border-radius: 20px;
}

.main-about__description {
    max-width: 580px;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .main-about__description {
        margin-top: 20px;
    }
}

.main-about__info {
    align-items: center;
}

@media (max-width: 880px) {
    .main-about__blue {
        margin-bottom: 20px;
    }
}

.main-about__img {
    margin-right: 20px;
}

@media (max-width: 1000px) {
    .main-about__img {
        width: 420px;
    }
}

@media (max-width: 1000px) and (max-width: 880px) {
    .main-about__img {
        width: 100%;
        margin-right: 0;
    }
}

.main-about__about {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 16px;
}

@media (max-width: 600px) {
    .main-about__about {
        margin-bottom: 10px;
    }
}

.main-about__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #414141;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .main-about__p {
        margin-bottom: 10px;
    }
}

.main-about__p:last-of-type {
    margin-bottom: 55px;
}

@media (max-width: 600px) {
    .main-about__p:last-of-type {
        margin-bottom: 30px;
    }
}

.main-about__square {
    top: 0;
    left: auto;
    right: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 50vw;
}

.main-deal__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

@media (max-width: 1000px) {
    .main-deal__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) and (max-width: 630px) {
    .main-deal__cards {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        max-width: 340px;
        margin-bottom: 15px;
    }

    .main-deal__cards:last-child {
        margin-bottom: 0;
    }
}

.main-deal__card {
    max-width: 380px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 14px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 630px) {
    .main-deal__card {
        margin-bottom: 15px;
    }

    .main-deal__card:last-child {
        margin-bottom: 0;
    }
}

.main-deal__top {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    flex: 1 1 auto;
}

.main-deal__number {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 69.9%;
    color: #0769CD;
    margin-right: 16px;
}

@media (max-width: 720px) {
    .main-deal__number {
        font-size: 54px;
    }
}

.main-deal__card-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 720px) {
    .main-deal__card-title {
        font-size: 18px;
    }
}

.main-deal__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-deal__text {
    max-width: 190px;
}

.main-deal__img {
    max-width: 115px;
    max-height: 115px;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (max-width: 720px) {
    .main-deal__img {
        max-width: 70px;
        max-height: 70px;
    }
}

.main-trust__container {
    overflow: hidden;
}

.main-trust__title {
    margin-bottom: 6px;
}

.main-trust__slider {
    overflow: visible !important;
}

.main-trust-slider-wrapper {
    padding: 20px 0 40px;
}

.main-trust__item {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 15px 24px;
}

.main-trust__img {
    width: 250px;
    height: 70px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: auto;
}

.main-trust-pagination {
    bottom: 0 !important;
}

.main-trust-pagination .swiper-pagination-bullet {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    opacity: 1;
    background: #dadada;
    transition: all 0.2s ease;
    margin: 0 5px !important;
}

.main-trust-pagination .swiper-pagination-bullet-active {
    background: #1d6bb9;
    width: 36px;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .main-request__title {
        margin-bottom: 10px;
    }
}

@media (max-width: 880px) {
    .main-request__inner {
        justify-content: center;
        padding: 0;
    }
}

.main-request__info {
    align-items: center;
}

.main-request__square {
    top: 0;
    left: auto;
    right: 250px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 50vw;
}

@media (max-width: 880px) {
    .main-request__square {
        display: none;
    }
}

.main-request__img {
    margin-right: 20px;
}

@media (max-width: 880px) {
    .main-request__img {
        display: none;
    }
}

@media (max-width: 880px) {
    .main-request__blue {
        display: none;
    }
}

.form {
    height: 100%;
}

@media (max-width: 880px) {
    .form {
        max-width: 500px;
    }
}

.form input {
    width: 100%;
    padding: 15px 0 15px 15px;
    border-radius: 10px;
    border: 2px solid #727272;
    outline: 0;
    margin-bottom: 20px;
}

@media (max-width: 560px) {
    .form input {
        margin-bottom: 10px;
    }
}

.form input:focus {
    border: 2px solid #1d6bb9;
}

.form textarea {
    width: 100%;
    max-width: 100%;
    padding: 15px 0 15px 15px;
    border-radius: 10px;
    border: 2px solid #727272;
    outline: 0;
    resize: none;
}

.form textarea:focus {
    border: 2px solid #1d6bb9;
}

.checkbox {
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox input {
    width: auto;
    padding: 0;
    border-radius: 0px;
    border: 0;
    outline: 0;
    margin-bottom: 0;
    margin-top: -1px;
    cursor: pointer !important;
}

.checkbox label {
    cursor: pointer !important;
}

@media (max-width: 560px) {
    .checkbox label {
        font-size: 14px;
    }
}

/* Popup */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: default;
}

.popup_body {
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    overflow: auto;
}

@media (max-width: 600px) {
    .popup_content {
        padding: 20px;
    }
}

.popup_content_politic {
    padding-top: 50px;
    max-width: 800px;
}

.popup_form {
    display: flex;
    flex-direction: column;
}

.form_input {
    margin-bottom: 30px;
    padding: 14px 0 14px 30px;
    border: none;
    background-color: #F4F2F2;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid transparent;
}

@media (max-width: 560px) {
    .form_input {
        margin-bottom: 10px;
    }
}

.form_input:focus,
.form_textarea:focus {
    outline: none;
    border: 2px solid #1d6bb9;
}

.form_textarea {
    padding: 14px 30px;
    border: none;
    background-color: #F4F2F2;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.popup_btn {
    padding: 12px 0;
    width: 300px;
    margin: 30px auto 0;
}

.popup_btn:disabled {
    background-color: #F4F2F2;
    color: #727272;
}

@media (max-width: 600px) {
    .popup_btn {
        margin: 0;
        width: 100%;
    }
}

.cards-items__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

@media (max-width: 1000px) {
    .cards-items__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media (max-width: 1000px) and (max-width: 560px) {
    .cards-items__list {
        display: block;
    }
}

.cards-item {
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
}

.cards-item__info {
    padding: 12px 19px 24px;
}

.cards-item__info h3 {
    font-size: 16px;
}

.cards-item__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    height: 260px;
}

.cards-item__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.cards-item__text {
    font-size: 16px;
}

@media (max-width: 560px) {
    .cards-item {
        margin-bottom: 20px;
    }

    .cards-item:last-child {
        margin-bottom: 0;
    }
}

.cards-item__btn {
    margin-top: 15px;
    width: 100%;
    display: block;
    text-align: center;
}

.catalog-item {
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    padding-bottom: 24px;
    display: flex !important;
    flex-direction: column;
    height: auto !important;
}

@media (max-width: 700px) {
    .catalog-item {
        margin-bottom: 20px;
    }
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item__info {
    padding-top: 12px;
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.catalog-item__info h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.catalog-item__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 260px;
    width: 100%;
}

@media (max-width: 700px) {
    .catalog-item__img {
        height: 200px;
    }
}

.catalog-item__img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    height: 100%;
    width: 100%;
}

.catalog-item__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 3px;
}

.catalog-item__cost {
    font-weight: 700;
    font-size: 20px;
    color: #1d6bb9;
    margin-bottom: 10px;
}

.catalog-item__features {
    flex: 1 1 auto;
}

.catalog-item__feature {
    font-size: 14px;
    color: #414141;
}

.catalog-item__feature span {
    font-weight: 500;
}

.catalog-item__feature svg {
    margin-right: 3px;
}

.catalog-item__btn {
    margin-top: 17px;
    text-align: center;
    display: block;
    width: 100%;
}

.catalog__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .catalog__inner {
        flex-direction: column;
    }
}

.catalog__filters {
    width: 380px;
    margin-right: 40px;
}

@media (max-width: 1000px) {
    .catalog__filters {
        display: none;
    }
}

.catalog__filter {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.catalog__filter:last-child {
    margin-bottom: 0;
}

.catalog__filter.active {
    background-color: #1d6bb9;
    color: #FFF;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

@media (max-width: 1000px) {
    .catalog__items {
        width: 100%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media (max-width: 1000px) and (max-width: 700px) {
    .catalog__items {
        display: block;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

.catalog .filter-dropdown {
    display: none;
    max-width: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .catalog .filter-dropdown {
        display: block;
    }
}

.catalog .filter-dropdown__button {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    color: #101010;
    width: 100%;
    text-align: left;
    background: #FFF;
    border: 2px solid #F6F6F6;
    border-radius: 4px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 40px;
    cursor: pointer;
}

.catalog .filter-dropdown__button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url(../img/career/arrow.svg) no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    transition: 200ms ease;
}

.catalog .filter-dropdown__button_active::after {
    transform: translateY(-50%) rotate(-180deg);
}

.catalog .filter-dropdown__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 50px;
    box-shadow: 0px 10px 20px 0px rgba(136, 145, 157, 0.3019607843);
    border: 1px solid #e6eaed;
    border-radius: 4px;
    background: #ffffff;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
}

.catalog .filter-dropdown__list_visible {
    opacity: 1;
    visibility: visible;
}

.catalog .filter-dropdown__list-item {
    margin: 0;
    padding: 0;
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    color: #444444;
    transition: 200ms ease;
}

.catalog .filter-dropdown__list-item_active {
    background: #F3F9FF;
}

.catalog .filter-dropdown__list-item:hover {
    background: #F3F9FF;
}

.catalog .filter-dropdown__input_hidden {
    display: none;
}

.item-main__wrapper {
    display: flex;
    align-items: flex-start;
    min-width: 0;
    justify-content: space-between;
}

@media (max-width: 1020px) {
    .item-main__wrapper {
        display: block;
    }
}

.item-sliders__wrapper {
    max-width: 520px;
}

@media (max-width: 1200px) {
    .item-sliders__wrapper {
        max-width: 480px;
    }
}

@media (max-width: 1200px) and (max-width: 1150px) {
    .item-sliders__wrapper {
        max-width: 400px;
    }
}

@media (max-width: 1200px) and (max-width: 1150px) and (max-width: 1020px) {
    .item-sliders__wrapper {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.item-slider {
    max-width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position: relative;
    top: -10px;
    left: -10px;
}

@media (max-width: 580px) {
    .item-slider {
        top: 0;
        left: 0;
    }
}

.item-slider__slide {
    padding: 10px;
}

.item-slider__img {
    width: 100%;
    height: 380px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

@media (max-width: 580px) {
    .item-slider__img {
        height: 280px;
    }
}

.swiper-slide-thumb-active {
    opacity: 1 !important;
}

.item-slider-prev img {
    transform: scale(-1, 1) !important;
}

.item-minislider {
    max-width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.item-minislider__slide {
    padding: 10px;
    opacity: 0.6;
}

.item-minislider__img {
    width: 150px;
    height: 100px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
}

@media (max-width: 580px) {
    .item-minislider__img {
        height: 80px;
    }
}

.item-info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    height: 500px;
}

@media (max-width: 1200px) {
    .item-info {
        margin-left: 20px;
    }
}

@media (max-width: 1200px) and (max-width: 1020px) {
    .item-info {
        margin-left: 0px;
        height: auto;
    }
}

.item-info__title {
    font-weight: 700;
    font-size: 36px;
    color: #101010;
    line-height: 30px;
}

.item-info__title.mobile {
    display: none;
}

@media (max-width: 1020px) {
    .item-info__title {
        display: none;
    }

    .item-info__title.mobile {
        display: block;
    }
}

.item-info__subtitle {
    font-weight: 500;
    font-size: 32px;
    color: #414141;
    line-height: 38px;
    margin-bottom: 20px;
}

.item-info__subtitle.mobile {
    display: none;
}

@media (max-width: 1020px) {
    .item-info__subtitle {
        display: none;
    }

    .item-info__subtitle.mobile {
        display: block;
    }
}

@media (max-width: 1020px) and (max-width: 580px) {
    .item-info__subtitle {
        font-size: 26px;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

.item-info__features {
    margin-bottom: 30px;
}

@media (max-width: 1020px) {
    .item-info__features {
        margin-bottom: 15px;
    }
}

.item-info__feature {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.item-info__feature:last-child {
    margin-bottom: 0;
}

.item-info__feature p {
    font-size: 16px;
    color: #414141;
}

.item-info__feature p span {
    font-weight: 700;
}

.item-info__feature svg {
    margin-right: 5px;
}

.item-info__sale-info {
    font-weight: 500;
    font-size: 16px;
    color: #414141;
}

.item-info__price-sale {
    font-weight: 700;
    font-size: 30px;
    color: #FC4853;
}

.item-info__price {
    font-weight: 700;
    font-size: 24px;
    text-decoration-line: line-through;
    color: #1d6bb9;
    margin-bottom: 20px;
    flex: 1 1 auto;
}

.item-info__btns {
    display: flex;
    align-items: stretch;
}

@media (max-width: 580px) {
    .item-info__btns {
        display: block;
    }
}

.item-info__btn {
    margin-right: 30px;
}

@media (max-width: 1070px) {
    .item-info__btn {
        margin-right: 15px;
    }
}

@media (max-width: 1070px) and (max-width: 580px) {
    .item-info__btn {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
    }
}

.item-info__calc {
    max-width: 360px;
}

@media (max-width: 580px) {
    .item-info__calc {
        max-width: 100%;
    }
}

.item-why__title {
    font-weight: 700;
    font-size: 18px;
}

.item-why__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

@media (max-width: 800px) {
    .item-why__cards {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

.item-why__card {
    max-width: 280px;
    padding: 30px 10px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@media (max-width: 800px) {
    .item-why__card {
        max-width: 100%;
    }
}

.item-why__card img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.item-description__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media (max-width: 750px) {
    .item-description__item {
        margin-bottom: 20px;
        flex-direction: column;
    }
}

.item-description__item:last-child {
    margin-bottom: 0;
}

.item-description__item .margin {
    margin-right: 20px;
}

@media (max-width: 750px) {
    .item-description__item .margin {
        margin-right: 0;
    }
}

@media (max-width: 750px) {
    .item-description__item.reverse {
        flex-direction: column-reverse;
    }
}

.item-description__img {
    max-width: 600px;
    max-height: 380px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.item-description__img img {
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 750px) {
    .item-description__img {
        max-width: 100%;
    }
}

.item-description__info {
    max-width: 60%;
}

@media (max-width: 750px) {
    .item-description__info {
        max-width: 100%;
    }
}

.item-description__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    color: #1d6bb9;
}

@media (max-width: 1000px) {
    .item-description__title {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.item-description__text {
    font-size: 20px;
    color: #414141;
}

@media (max-width: 1000px) {
    .item-description__text {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.item-table__table {
    border-radius: 5px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.item-table__table tr:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item-table__header {
    background: #1d6bb9;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
}

.item-table__header:first-child {
    border-top-left-radius: 5px;
}

.item-table__header:last-child {
    border-top-right-radius: 5px;
}

.item-table__column {
    padding: 10px 20px;
    border-width: 1px;
    border-color: #e9e9e9;
    border-style: solid;
    width: 50%;
}

.item-table__blue {
    background-color: #F3F9FF;
}

.item-constructor__wrapper {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
}

@media (max-width: 560px) {
    .item-constructor__wrapper {
        padding: 20px 10px;
    }
}

.item-constructor__inner {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 1000px) {
    .item-constructor__inner {
        flex-direction: column;
    }
}

.item-constructor__left {
    max-width: 500px;
    margin-right: 25px;
    flex: 1 1 auto;
}

@media (max-width: 1000px) {
    .item-constructor__left {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }
}

.item-constructor__img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 12px;
}

@media (max-width: 560px) {
    .item-constructor__img {
        height: 300px;
    }
}

@media (max-width: 560px) and (max-width: 440px) {
    .item-constructor__img {
        height: 240px;
    }
}

.item-constructor__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.item-constructor__warning.mobile {
    display: none;
}

@media (max-width: 1000px) {
    .item-constructor__warning {
        display: none;
    }

    .item-constructor__warning.mobile {
        display: block;
    }
}

.item-constructor__progress {
    position: relative;
}

@media (max-width: 560px) {
    .item-constructor__progress {
        display: none;
    }
}

.item-constructor__line {
    position: absolute;
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: #F4F2F2;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

.item-constructor__line.active {
    width: 20%;
    background-color: #1d6bb9;
}

.item-constructor__points {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item-constructor__point {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F4F2F2;
    color: #727272;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

.item-constructor__point.active {
    color: #FFF;
    background: #1d6bb9;
}

.item-constructor__point span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-constructor .item-constructor__point-mobile {
    display: none;
}

@media (max-width: 560px) {
    .item-constructor .item-constructor__point-mobile {
        display: block;
    }
}

.item-constructor__step {
    flex: 1 1 auto;
    height: 100%;
}

.item-constructor__form {
    flex: 1 1 auto;
    height: 580px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .item-constructor__form {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}

.item-constructor__question {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
}

@media (max-width: 560px) {
    .item-constructor__question {
        margin-bottom: 10px;
    }
}

.item-constructor__btn {
    font-weight: 500;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    white-space: normal;
}

@media (max-width: 560px) {
    .item-constructor__btn {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.item-constructor__btn.active {
    background-color: #1d6bb9;
    color: #FFF;
}

.item-constructor__controls {
    display: flex;
    align-items: stretch;
    justify-content: right;
    margin-bottom: 30px;
}

@media (max-width: 560px) {
    .item-constructor__controls {
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 15px;
    }
}

.item-constructor__btn-prev {
    width: 240px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
}

@media (max-width: 560px) {
    .item-constructor__btn-prev {
        margin-right: 0;
        font-size: 14px;
    }
}

.item-constructor__btn-next {
    width: 240px;
    font-weight: 500;
    font-size: 18px;
    max-width: 250px;
    font-weight: 500;
    padding: 10px 15px;
}

@media (max-width: 560px) {
    .item-constructor__btn-next {
        margin-top: 10px;
        font-size: 14px;
    }
}

.item-constructor__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 560px) {
    .item-constructor__footer {
        flex-direction: column;
        align-items: flex-start;
    }
}

.item-constructor__price p {
    font-weight: 500;
    font-size: 16px;
    max-width: 200px;
}

@media (max-width: 560px) {
    .item-constructor__price p {
        max-width: 100%;
    }
}

.item-constructor__price p span {
    font-weight: 700;
    font-size: 24px;
    color: #1d6bb9;
}

@media (max-width: 560px) {
    .item-constructor__price p span {
        font-size: 28px;
    }
}

@media (max-width: 560px) {
    .item-constructor__submit {
        max-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}

.career {
    margin-bottom: 30px;
}

@media (max-width: 560px) {
    .career {
        margin-bottom: 20px;
    }
}

.career:last-child {
    margin-bottom: 0;
}

.career__accordion {
    background-color: #FFF;
    transition: 0.4s;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    color: #414141;
}

.career__btn {
    font-weight: 700;
    background-color: transparent;
    font-size: 24px;
    padding: 0;
    color: #101010;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;
}

@media (max-width: 560px) {
    .career__btn {
        font-size: 18px;
    }
}

.career__btn::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/career/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.2s ease;
}

.career__btn.active {
    margin-bottom: 25px;
}

@media (max-width: 560px) {
    .career__btn.active {
        margin-bottom: 15px;
    }
}

.career__btn.active::after {
    transform: scale(1, -1);
}

.career__panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: inherit;
}

@media (max-width: 560px) {
    .career__panel {
        font-size: 16px;
    }
}

.career__require {
    margin-bottom: 25px;
}

.career__require span {
    font-weight: 700;
}

@media (max-width: 560px) {
    .career__require {
        margin-bottom: 15px;
    }
}

.career__info {
    margin-bottom: 20px;
}

@media (max-width: 560px) {
    .career__info {
        margin-bottom: 15px;
    }
}

.career__info:last-child {
    margin-bottom: 0;
}

.career__info li {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

@media (max-width: 560px) {
    .career__info li {
        align-items: flex-start;
    }
}

.career__info li svg {
    margin-right: 5px;
    flex: 0 0 auto;
}

@media (max-width: 560px) {
    .career__info li svg {
        position: relative;
        top: 7px;
    }
}

.delivery-map__text {
    margin-bottom: 20px;
    font-size: 20px;
    color: #414141;
}

.delivery-table__wrapper {
    overflow: auto;
}

.delivery-table__table {
    min-width: 925px;
    border-radius: 5px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow: auto;
}

.delivery-table__table tr:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.delivery-table__header {
    background: #1d6bb9;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
}

.delivery-table__header:first-child {
    border-top-left-radius: 5px;
}

.delivery-table__header:last-child {
    border-top-right-radius: 5px;
}

.delivery-table__column {
    padding: 10px 20px;
    border-width: 1px;
    border-color: #e9e9e9;
    border-style: solid;
    width: 25%;
    text-align: center;
}

.delivery-table__column.left {
    text-align: left;
}

@media (max-width: 500px) {
    .delivery-table__column {
        padding: 5px 10px;
    }
}

.delivery-table__blue {
    background-color: #F3F9FF;
}

.about__text {
    font-size: 18px;
    margin-bottom: 20px;
}

.about__text:last-child {
    margin-bottom: 0;
}

.service-items__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

@media (max-width: 1000px) {
    .service-items__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media (max-width: 1000px) and (max-width: 560px) {
    .service-items__list {
        display: block;
    }
}

.object__card {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 560px) {
    .object__card {
        padding: 15px;
    }
}

.object-card {
    margin-bottom: 30px;
}

@media (max-width: 960px) {
    .object-card {
        display: block;
    }
}

.object-card:last-child {
    margin: 0;
}

.object-card__info {
    margin-right: 20px;
}

@media (max-width: 960px) {
    .object-card__info {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.object-card__info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.object-card__info ul li {
    color: #414141;
    font-size: 18px;
}

@media (max-width: 560px) {
    .object-card__info ul li {
        font-size: 16px;
    }
}

.object-card__info ul li span {
    font-weight: 700;
}

.object-card__title {
    font-size: 28px;
    color: #1d6bb9;
    margin-bottom: 15px;
}

@media (max-width: 560px) {
    .object-card__title {
        font-size: 24px;
        margin-bottom: 5px;
    }
}

.object-card__slider {
    min-width: 0;
    max-width: 400px;
}

@media (max-width: 960px) {
    .object-card__slider {
        max-width: 100%;
    }
}

.object-slider__slide img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

@media (max-width: 560px) {
    .object-slider__slide img {
        height: 240px;
    }
}

.object-slider .swiper-pagination {
    position: relative;
    top: 0px !important;
}

.object-slider .swiper-pagination-bullet {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
    opacity: 1;
    background: rgb(196, 196, 196);
    transition: all 0.2s ease;
    margin: 0 7px !important;
}

.object-slider .swiper-pagination-bullet:first-child {
    margin-left: 0px !important;
}

.object-slider .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 10px;
    background: #007aff;
}

.object-slider .review-img {
    -o-object-fit: contain;
    object-fit: contain;
}

.contacts-main {
    margin-bottom: 30px;
}

.contacts-main__wrapper {
    background: none;
}

.contacts-main__inner {
    padding: 0;
}

.contacts-main__map {
    padding: 30px 0;
    position: relative;
}

@media (max-width: 1000px) {
    .contacts-main__map {
        max-width: 500px;
    }
}

@media (max-width: 1000px) and (max-width: 880px) {
    .contacts-main__map {
        max-width: 100%;
    }
}

.contacts-main__map iframe {
    position: relative;
    z-index: 2;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #F6F6F6;
    font-size: 16px;
    color: #707070;
}

.footer .logo {
    margin-top: 5px;
    margin-right: 50px;
}

@media (max-width: 890px) {
    .footer .logo {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.footer__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px 0 60px;
}

@media (max-width: 890px) {
    .footer__inner {
        display: block;
    }
}

@media (max-width: 890px) and (max-width: 620px) {
    .footer__inner {
        padding-bottom: 0;
    }
}

.footer__columns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

@media (max-width: 890px) {
    .footer__columns {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width: 890px) and (max-width: 620px) {
    .footer__columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

.footer__column {
    margin-right: 80px;
}

.footer__column:last-child {
    margin-right: 0;
}

@media (max-width: 1200px) {
    .footer__column {
        margin-right: 40px;
    }
}

@media (max-width: 1200px) and (max-width: 620px) {
    .footer__column {
        margin-right: 0;
    }
}

@media (max-width: 620px) {
    .footer__column-3 {
        display: none;
    }
}

.footer__column.mobile {
    display: none;
}

@media (max-width: 620px) {
    .footer__column.mobile {
        display: block;
    }
}

.footer__column-center {
    display: flex;
}

.footer__column-center .footer__column:first-child {
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    .footer__column-center {
        display: block;
    }
}

.footer__text {
    margin-bottom: 8px;
}

.footer__title {
    font-weight: 400;
    font-size: 20px;
    color: #101010;
    margin-bottom: 10px;
}

.footer__days {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 17px;
}

.footer__day {
    width: 20px;
    height: 3px;
    background: #1d6bb9;
    border-radius: 22px;
    margin-right: 2px;
}

.footer__day.gray {
    background: #D9D9D9;
}

.footer__contact {
    margin-bottom: 13px;
}

.footer__bottom {
    background-color: #101010;
    padding: 20px;
}

.footer__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
}