.blue-bg {

    background-color: #FFF;


    &__wrapper {}

    &__inner {
        background-color: #FFF;
        position: relative;
        padding: 30px 0;

        img {
            position: relative;
            z-index: 2;
            width: 500px;
            height: 500px;
        }
    }

    &__square {
        position: absolute;
        background-color: $primary;
        z-index: 1;
        height: 100%;
    }

    &__content {}
}