.blue-bg {

    background-color: #FFF;


    &__wrapper {}

    &__inner {
        background-color: #FFF;
        position: relative;
    }

    &__square {
        position: absolute;
        background-color: $primary;
    }

    &__content {}
}