.blue-bg {

    background-color: #FFF;


    &__wrapper {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 48%, rgba(7, 105, 205, 1) 48%);
    }

    &__inner {
        background-color: #FFF;
        position: relative;
        padding: 30px 0;

        img {
            position: relative;
            z-index: 2;
            width: 500px;
            height: 500px;
            border-radius: 20px;
        }
    }

    &__square {
        position: absolute;
        background-color: $primary;
        z-index: 1;
        height: 100%;
        width: 250px;
    }

    &__content {
        display: flex;
        align-items: center;
    }
}