.breadcrumbs {
    padding: 20px 0;

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;

        a {
            font-size: 16px;
            color: #707070;
            margin-right: 10px;
        }

        img {
            margin-right: 10px;
            width: 12px;
            height: 12px;
        }

        &:last-child {
            a {
                font-weight: 700;
                margin-right: 0;
            }

            img {
                display: none;
            }
        }
    }
}