@import "variables";

.catalog-item {

    max-width: 380px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;

    &__info {
        padding: 12px 19px 24px;

        h3 {
            font-size: 16px;
        }
    }

    &__img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    &__cost {
        font-weight: 700;
        font-size: 20px;
        color: $primary;
        margin-bottom: 10px;
    }

    &__feature {
        font-size: 14px;
        color: #414141;

        span {
            font-weight: 500;
        }
    }

    &__btn {
        margin-top: 17px;
        text-align: center;
        display: block;
        width: 100%;
    }
}