@import "variables";

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $dark;
    overflow-x: hidden;

    &.lock {
        overflow-y: hidden;
    }
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px
}

.wrapper {
    padding-top: 130px;
}

.section {
    padding: 40px 0;

    &.light-bg-section {
        background: $lightbg;
    }
}

.logo {
    width: 250px;
    margin-left: -2px;
}

.btn {
    background-color: $primary;
    padding: 11px 31px;
    border: 2px solid $primary;
    color: #FFF;
    border-radius: 5px;
    transition: all .2s ease;
    font-weight: 700;
    font-size: 20px;
    outline: none;
    cursor: pointer;

    &:disabled {
        background-color: #F4F2F2;
        color: #727272;
        border: 2px solid transparent;

        &:hover {
            cursor: default;
            background-color: #F4F2F2;
            color: #727272;
            border: 2px solid transparent;
        }
    }

    &:hover {
        border: 2px solid $primary;
        background: transparent;
        color: $primary;
    }
}


.btn-light {
    font-weight: 500;
    font-size: 20px;
    border: 2px solid $primary;
    color: $primary;
    border-radius: 5px;
    padding: 11px 41px;
    transition: all .2s ease;
    background: transparent;

    cursor: pointer;

    &:hover {
        background: $primary;
        color: #FFF;
    }

    &:disabled {
        background-color: #F4F2F2;
        color: #727272;
        border: 2px solid transparent;

        &:hover {
            cursor: default;
            background-color: #F4F2F2;
            color: #727272;
            border: 2px solid transparent;
        }
    }
}

.square-bg {
    background-color: $primary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
}

.swiper {
    user-select: none;
}