@import "variables";

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $dark;
    overflow-x: hidden;

    &.lock {
        overflow-y: hidden;
    }
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

}

.title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 26px
}

.wrapper {
    padding-top: 130px;
}

.section {
    padding: 40px 0;
}

.btn {
    background-color: $primary;
    padding: 15px 35px;
    color: #FFF;
    border-radius: 5px;
    transition: all .2s ease;
    font-weight: 700;

    &:hover {
        background-color: #075db3;
    }
}