@import "variables";

.form {
    max-width: 700px;
    height: 100%;

    input {
        width: 100%;
        padding: 15px 0 15px 15px;
        border-radius: 10px;
        border: 1px solid #727272;
        outline: 0;

        margin-bottom: 20px;

        &:focus {
            border: 1px solid $primary;
        }

    }

    textarea {
        width: 100%;
        padding: 15px 0 15px 15px;
        border-radius: 10px;
        border: 1px solid #727272;
        outline: 0;
        margin-bottom: 10px;

        &:focus {
            border: 1px solid $primary;
        }
    }

    .checkbox {
        margin-bottom: 16px;
    }

    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;

        cursor: pointer;
    }

    .custom-checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $primary;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        position: relative;
        top: -1px;
    }

    .custom-checkbox:checked+label::before {
        border-color: $primary;
        background-color: #fff;
        background-image: url(../img/form/tick.svg);
        background-size: 10px;

    }

    &__btn {

        &:disabled {
            cursor: default;

            &:hover {
                background-color: #F4F2F2;
                color: #727272;
            }

        }
    }
}