@import "variables";

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0 auto;
    font-weight: 700;
    background: #FFF;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid $borderlight;
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__contact {
        margin-right: 45px;
        font-size: 18px;
        font-weight: 700;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__bottom {
        padding: 10px 0;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        font-size: 18px;
        font-weight: 500;

        a {
            text-decoration: none;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            transition: all .2s ease;

            &:hover {
                border-bottom: 2px solid $primary;
            }
        }
    }
}

.container {}

.logo {
    width: 250px;
}