@import "variables";

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0 auto;
    font-weight: 700;
    background: #FFF;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid $borderlight;
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__contact {
        margin-right: 45px;
        font-size: 18px;
        font-weight: 700;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__btn {
        background-color: #0769CD;
        padding: 15px 35px;
        color: #FFF;
        border-radius: 5px;
        transition: all .2s ease;

        &:hover {
            background-color: #075db3;
        }
    }

    &__bottom {
        padding: 10px 0;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        font-size: 18px;
        font-weight: 500;

        a {
            text-decoration: none;
            padding-bottom: 5px;
            background-image: linear-gradient($primary, $primary);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;

            &:hover {
                background-size: 100% 3px;
            }
        }
    }
}

.container {}

.logo {
    width: 220px;
}