@import "variables";

.first-section {
    padding-top: 0;
}

.item-main {

    &__wrapper {
        display: flex;
        align-items: flex-start;
        min-width: 0;
        justify-content: space-between;
    }

    &__info {}
}

.item-sliders__wrapper {
    max-width: 520px;
}


.item-slider {
    max-width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    position: relative;
    top: -10px;
    left: -10px;

    &__slide {
        padding: 10px;
    }

    &__img {
        width: 500px;
        height: 380px;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        object-fit: contain;
        object-position: center;
    }
}

.swiper-slide-thumb-active {
    opacity: 1 !important;
}

.item-slider-prev {
    img {
        transform: scale(-1, 1) !important;
    }
}

.item-minislider {
    max-width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;


    &__wrapper {}



    &__slide {
        padding: 10px;
        opacity: 0.6;
    }



    &__img {
        width: 150px;
        height: 100px;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
    }
}





.item-info {
    margin-left: 50px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        color: $dark;
        line-height: 42px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 32px;
        color: $lightdark;
        line-height: 38px;
        margin-bottom: 20px;
    }

    &__features {
        margin-bottom: 30px;
    }

    &__feature {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        p {
            font-size: 16px;
            color: $lightdark;

            span {
                font-weight: 700;
            }
        }

        svg {
            margin-right: 5px;
        }
    }

    &__sale-info {
        font-weight: 500;
        font-size: 16px;
        color: $lightdark;
    }

    &__price-sale {
        font-weight: 700;
        font-size: 30px;

        color: $red;

    }

    &__price {
        font-weight: 700;
        font-size: 24px;
        text-decoration-line: line-through;
        color: $primary;
        margin-bottom: 20px;
    }

    &__btns {
        display: flex;
        align-items: stretch;
    }

    &__btn {
        margin-right: 30px;
    }

    &__calc {
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;

            path {
                transition: all .2s ease;
            }
        }

        span {
            position: relative;
            left: 18px;
            transition: all .1s ease;
        }

        &:hover {
            svg {
                path {
                    fill: #FFF;
                }
            }
        }
    }
}

.item-why {

    &__title {
        font-weight: 700;
        font-size: 18px;
    }

    &__cards {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__card {
        width: 280px;
        padding: 30px 10px;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        img {
            width: 70px;
            height: 70px;
            margin: 0 auto;
            margin-bottom: 15px;
        }

    }

}

.item-description {

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        width: 600px;
        height: 380px;
        object-position: center;
        object-fit: cover;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    &__info {
        max-width: 560px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;

        color: $primary;
    }

    &__text {
        font-size: 20px;
        color: $lightdark;
    }
}

.item-delivery {

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__item {
        max-width: 380px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        position: relative;
    }
}

.item-delivery-item {

    &__img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
    }

    &__info {
        padding: 12px 19px 24px;

        h3 {
            font-size: 16px;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        color: $lightdark;
    }
}


.item-table {

    &__table {
        border-radius: 5px;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        tr {
            &:last-child {
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }

    }

    &__header {
        background: $primary;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0;

        &:first-child {
            border-top-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
        }
    }

    &__column {
        padding: 10px 20px;
        border-width: 1px;
        border-color: $borderlight;
        border-style: solid;
        // border: 1px solid $borderlight;
    }

    &__blue {
        background-color: $lightbg;
    }
}

.section {}

.item-constuctor {

    &__wrapper {
        padding: 40px 25px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    &__title {}

    &__inner {
        display: flex;
        align-items: flex-start;
    }

    &__img {
        width: 500px;
        height: 460px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        margin-right: 50px
    }

    &__form {
        flex: 1 1 auto;
    }

    &__step {}

    &__question {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__btns {}

    &__btn {
        font-weight: 500;
        font-size: 18px;
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;

        &.active {
            background-color: $primary;
            color: #FFF;
        }
    }

    &__controls {
        display: flex;
        align-items: stretch;
        justify-content: right;
        margin-bottom: 30px;
    }

    &__btn-prev {
        max-width: 250px;
        margin-right: 30px;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 10px;
    }

    &__btn-next {
        font-weight: 500;
        font-size: 16px;
        max-width: 250px;
        font-weight: 500;
        padding: 10px 10px;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        p {
            font-weight: 500;
            font-size: 16px;

            span {
                font-weight: 700;
                font-size: 24px;
                color: $primary;
            }
        }
    }
}