.main-slider {

    color: #FFF;

    &__inner {
        padding: 70px 0;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-1 {
            background-image: url(../img/main/delivery-slide.png);
        }

        &-2 {
            background-image: url(../img/main/delivery.png);
        }
    }

    &__title {
        font-weight: 900;
        font-size: 64px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        max-width: 650px;
        margin-bottom: 40px;
    }

    &__points {
        margin-left: 25px;
        margin-bottom: 60px;
    }

    &__point {
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }

        p {
            font-weight: 500;
            font-size: 24px;
        }
    }

    &__btn {}
}