.main-slider {
    margin-bottom: 40px;

    color: #FFF;

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        padding: 100px 0 150px 0;

        &-1 {
            background-image: url(../img/main/delivery-slide.png);
        }

        &-2 {
            background-image: url(../img/main/delivery.png);
        }
    }

    &__title {
        font-weight: 900;
        font-size: 64px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        max-width: 650px;
        margin-bottom: 40px;
    }

    &__points {
        margin-left: 25px;
        margin-bottom: 60px;
    }

    &__point {
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }

        p {
            font-weight: 500;
            font-size: 24px;
        }

        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        margin-bottom: 140px;
    }

    .swiper-pagination {
        margin-bottom: 20px;
    }

    .swiper-pagination-bullet {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: #FFF;
        opacity: 1;
        background: rgba(255, 255, 255, 1);
        transition: all .2s ease;
    }

    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        color: #fff;
        background: #007aff;
    }
}


.main-catalog {

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

}