@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #101010;
  overflow-x: hidden;
}
body.lock {
  overflow-y: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 26px;
}

.wrapper {
  padding-top: 130px;
}

.section {
  padding: 40px 0;
}

.logo {
  width: 250px;
  margin-left: -2px;
}

.btn {
  background-color: #0769CD;
  padding: 15px 35px;
  color: #FFF;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.btn:disabled {
  background-color: #F4F2F2;
  color: #727272;
}
.btn:hover {
  background-color: #DAEDFE;
  color: #0769CD;
}

.btn-light {
  font-weight: 500;
  font-size: 20px;
  color: #0769CD;
  background: #DAEDFE;
  border-radius: 5px;
  padding: 15px 45px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-light:hover {
  background: #0769CD;
  color: #FFF;
}

.square-bg {
  background-color: #0769CD;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  left: 0;
  margin: 0 auto;
  font-weight: 700;
  background: #FFF;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #e9e9e9;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contact {
  margin-right: 45px;
  font-size: 18px;
  font-weight: 700;
}
.header__contact:last-child {
  margin-right: 0px;
}
.header__bottom {
  padding: 10px 0;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__link {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link a {
  position: relative;
  /*задаём цвет ссылки*/
  cursor: pointer;
  line-height: 1.1;
  /*задаём высоту строки*/
  text-decoration: none;
  /*убираем подчёркивание*/
}
.header__link a:after {
  display: block;
  position: absolute;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 2px;
  /*задаём ширину линии*/
  background-color: #0769CD;
  /*задаём цвет линии*/
  content: "";
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  /*задаём время анимации*/
}
.header__link a:hover:after, .header__link a:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.header__link img {
  width: 13px;
  height: 8px;
  margin-left: 5px;
}

.main-slider {
  color: #101010;
}
.main-slider__wrapper {
  padding: 10px 0;
}
.main-slider__body {
  background-color: #0769CD;
  background: -webkit-gradient(linear, left top, right top, color-stop(48%, rgb(255, 255, 255)), color-stop(48%, rgb(7, 105, 205)));
  background: linear-gradient(90deg, rgb(255, 255, 255) 48%, rgb(7, 105, 205) 48%);
}
.main-slider__square {
  width: 250px;
  right: 0;
  top: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.main-slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-slider__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}
.main-slider__title {
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.main-slider__title span {
  color: #0769CD;
}
.main-slider__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 540px;
  margin-bottom: 28px;
}
.main-slider__points {
  margin-left: 25px;
  margin-bottom: 60px;
}
.main-slider__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}
.main-slider__point svg {
  margin-right: 10px;
}
.main-slider__point p {
  font-weight: 500;
  font-size: 20px;
}
.main-slider__point:last-child {
  margin-bottom: 0;
}
.main-slider__btn {
  margin-bottom: 140px;
}
.main-slider .main__pagination {
  position: relative;
}
.main-slider .swiper-pagination {
  position: absolute;
  text-align: left;
  left: 0;
  bottom: 70px !important;
}
.main-slider .swiper-pagination-bullet {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: rgb(196, 196, 196);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 7px !important;
}
.main-slider .swiper-pagination-bullet:first-child {
  margin-left: 0px !important;
}
.main-slider .swiper-pagination-bullet-active {
  width: 36px;
  border-radius: 10px;
  background: #007aff;
}

.main-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-about {
  background-color: #FFF;
}
.main-about__wrapper {
  background: -webkit-gradient(linear, left top, right top, color-stop(48%, rgb(7, 105, 205)), color-stop(48%, rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgb(7, 105, 205) 48%, rgb(255, 255, 255) 48%);
}
.main-about__inner {
  background-color: #FFF;
  position: relative;
}
.main-about__square {
  width: 250px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 0;
  top: 0;
}
.main-about__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-right: 88px;
}
.main-about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-about__description {
  max-width: 580px;
}
.main-about__about {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 24px;
}
.main-about__p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3A3A3A;
  margin-bottom: 30px;
}
.main-about__p:last-of-type {
  margin-bottom: 55px;
}

.main-deal__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.main-deal__cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-deal__cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main-deal__cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.main-deal__cards > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.main-deal__cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.main-deal__cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.main-deal__card {
  max-width: 380px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 14px;
}
.main-deal__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
}
.main-deal__number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 69.9%;
  color: #0769CD;
  margin-right: 16px;
}
.main-deal__card-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.main-deal__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-deal__text {
  max-width: 190px;
}
.main-deal__img {
  max-width: 115px;
  max-height: 115px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-trust__container {
  overflow: hidden;
}
.main-trust__title {
  margin-bottom: 6px;
}
.main-trust__slider {
  overflow: visible !important;
}
.main-trust-slider-wrapper {
  padding: 20px 0 40px;
}
.main-trust__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 24px;
}
.main-trust__img {
  width: 250px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}
.main-trust-pagination {
  bottom: 0 !important;
}
.main-trust-pagination .swiper-pagination-bullet {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: #dadada;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 5px !important;
}
.main-trust-pagination .swiper-pagination-bullet-active {
  background: #0769CD;
  width: 36px;
  border-radius: 20px;
}

.main-request__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-request__square {
  width: 290px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.main-request__wrapper {
  background: -webkit-gradient(linear, left top, right top, color-stop(48%, rgb(7, 105, 205)), color-stop(48%, rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgb(7, 105, 205) 48%, rgb(255, 255, 255) 48%);
}
.main-request__img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  margin-right: 88px;
}

.catalog-item {
  max-width: 380px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}
.catalog-item__info {
  padding: 12px 19px 24px;
}
.catalog-item__info h3 {
  font-size: 16px;
}
.catalog-item__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.catalog-item__title {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}
.catalog-item__cost {
  font-weight: 700;
  font-size: 20px;
  color: #0769CD;
  margin-bottom: 10px;
}
.catalog-item__feature {
  font-size: 14px;
  color: #414141;
}
.catalog-item__feature span {
  font-weight: 500;
}
.catalog-item__btn {
  margin-top: 17px;
  text-align: center;
  display: block;
  width: 100%;
}

.blue-bg {
  background-color: #FFF;
}
.blue-bg__inner {
  background-color: #FFF;
  position: relative;
  padding: 30px 0;
}
.blue-bg__inner img {
  position: relative;
  z-index: 2;
  width: 500px;
  height: 500px;
}
.blue-bg__square {
  position: absolute;
  background-color: #0769CD;
  z-index: 1;
  height: 100%;
}
.form {
  width: 100%;
  height: 100%;
}
.form input {
  width: 100%;
  padding: 15px 0 15px 15px;
  border-radius: 10px;
  border: 1px solid #727272;
  outline: 0;
  margin-bottom: 20px;
}
.form input:focus {
  border: 1px solid #0769CD;
}
.form textarea {
  width: 100%;
  max-width: 100%;
  padding: 15px 0 15px 15px;
  border-radius: 10px;
  border: 1px solid #727272;
  outline: 0;
  margin-bottom: 10px;
  resize: none;
}
.form textarea:focus {
  border: 1px solid #0769CD;
}
.form .checkbox {
  margin-bottom: 16px;
}
.form .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form .custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #0769CD;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  position: relative;
  top: -1px;
}
.form .custom-checkbox:checked + label::before {
  border-color: #0769CD;
  background-color: #fff;
  background-image: url(../img/form/tick.svg);
  background-size: 10px;
}
.form__btn:disabled {
  cursor: default;
}
.form__btn:disabled:hover {
  background-color: #F4F2F2;
  color: #727272;
}

.footer {
  background-color: #F6F6F6;
  font-size: 16px;
  color: #707070;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 60px;
}
.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer__column {
  margin-right: 80px;
  margin-top: 10px;
}
.footer__column:last-child {
  margin-right: 0;
}
.footer__text {
  margin-bottom: 8px;
}
.footer__title {
  font-weight: 400;
  font-size: 20px;
  color: #101010;
  margin-bottom: 10px;
}
.footer__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.footer__day {
  width: 20px;
  height: 3px;
  background: #0769CD;
  border-radius: 22px;
  margin-right: 2px;
}
.footer__day.gray {
  background: #D9D9D9;
}
.footer__contact {
  margin-bottom: 13px;
}
.footer__bottom {
  background-color: #101010;
  padding: 20px;
}
.footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
}