<li class="career">
    <div class="career__accordion">
        <button class="career__btn">Монтажник подъемного оборудования</button>
        <div class="career__panel">
            <ul class="career__require">
                <li>Опыт работы: <span>от 3 до 5 лет</span></li>
                <li>Занятость: <span>полный рабочий день</span></li>
                <li>Заработная плата: <span>200 000 - 300 000 ₸</span></li>
            </ul>

            <div class="career__info">
                <h3>Обязанности</h3>
                <ul class="career__list">
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Монтаж подъемных платформ для инвалидов: подготовительные работы, монтаж, пуско-наладочные
                            работы</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Проверка комплектности и качества оборудования на объекте, обратная связь Производственному
                            отделу</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Предоставление отчетности по итогам монтажей</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Проверка и приемка строительной части</p>
                    </li>
                </ul>
            </div>
            <div class="career__info">
                <h3>Требования</h3>
                <ul class="career__list">
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Монтаж подъемных платформ для инвалидов: подготовительные работы, монтаж, пуско-наладочные
                            работы</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Проверка комплектности и качества оборудования на объекте, обратная связь Производственному
                            отделу</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Предоставление отчетности по итогам монтажей</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Проверка и приемка строительной части</p>
                    </li>
                </ul>
            </div>
            <div class="career__info">
                <h3>Условия</h3>
                <ul class="career__list">
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Монтаж подъемных платформ для инвалидов: подготовительные работы, монтаж, пуско-наладочные
                            работы</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Проверка комплектности и качества оборудования на объекте, обратная связь Производственному
                            отделу</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Предоставление отчетности по итогам монтажей</p>
                    </li>
                    <li>
                        <svg width="7" height="9" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                                fill="#414141" />

                        </svg>
                        <p>Проверка и приемка строительной части</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>