<li class=" catalog-item">
    <a href="./item.html">
        <img src="./assets/img/catalog/sample.webp" alt="" class="catalog-item__img"></a>
    <div class="catalog-item__info">
        <a href="./item.html">
            <h2 class="catalog-item__title"> ВПМ-001
            </h2>
            <h3>Вертикальный подъемник для инвалидов</h3>
        </a>
        <p class="catalog-item__cost">от 500 000 ₸</p>
        <ul class="catalog-item__features">
            <li class="catalog-item__feature"><svg width="8" height="8" viewBox="0 0 13 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                        fill="#414141" />

                </svg> траектория: <span>сложная прямолинейная</span></li>
            <li class="catalog-item__feature"><svg width="8" height="8" viewBox="0 0 13 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                        fill="#414141" />

                </svg> угол наклона трассы: <span> до 60°</span></li>
            <li class="catalog-item__feature"><svg width="8" height="8" viewBox="0 0 13 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.5 7.13397C13.1667 7.51888 13.1667 8.48112 12.5 8.86602L2 14.9282C1.33333 15.3131 0.499999 14.832 0.499999 14.0622L0.5 1.93782C0.5 1.16802 1.33333 0.686896 2 1.0718L12.5 7.13397Z"
                        fill="#414141" />

                </svg> грузоподъемность: <span>до 400 кг</span></li>
        </ul>
        <a href="./item.html" class="catalog-item__btn btn">Подробнее</a>
    </div>
</li>