<section class="section cards-items">
    <div class="container">
        <h1 class="cards-items__title title">Способы получения оборудования</h1>
        <ul class="cards-items__list">
            <li class="cards-items__item cards-item">
                <img src="./assets/img/delivery/1.webp" alt="" class="cards-item__img">
                <div class="cards-item__info">
                    <h2 class="cards-item__title">Самовывоз со склада</h2>
                    <p class="cards-item__text">Вы можете забрать продукцию с нашего склада по адресу: г.Челябинск,
                        ул. Линейная, 92</p>
                </div>
            </li>
            <li class="cards-items__item cards-item">
                <img src="./assets/img/delivery/2.webp" alt="" class="cards-item__img">
                <div class="cards-item__info">
                    <h2 class="cards-item__title">Доставка до терминала ТК</h2>
                    <p class="cards-item__text">Привезём подъемное оборудование до терминала транспортной компании на
                        ваш выбор</p>
                </div>
            </li>
            <li class="cards-items__item cards-item">
                <img src="./assets/img/delivery/3.webp" alt="" class="cards-item__img">
                <div class="cards-item__info">
                    <h2 class="cards-item__title">Доставка до указанного адреса</h2>
                    <p class="cards-item__text">Организуем доставку до вашего склада или места установки подъемников
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>