<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a href="./index.html"><img src="./assets/img/logo.svg" alt="Logo" class="logo"></a>
            <div class="footer__columns">
                <div class="footer__column footer__column-1">
                    <p class="footer__title">Ссылки</p>
                    <nav>
                        <ul class="footer__list">
                            <li class="footer__link footer__text">
                                <a href="#">О компании</a>
                            </li>
                            <li class="footer__link footer__text">
                                <a href="#">Подъемники</a>
                            </li>
                            <li class="footer__link footer__text">
                                <a href="./delivery.html">Доставка</a>
                            </li>
                            <li class="footer__link footer__text">
                                <a href="#">Наши объекты</a>
                            </li>
                            <li class="footer__link footer__text">
                                <a href="./contact.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column footer__column-2">
                    <p class="footer__title">Помощь</p>
                    <nav>
                        <ul class="footer__list">
                            <li class="footer__link footer__text">
                                <a href="#">Нормативные документы</a>
                            </li>
                            <li class="footer__link footer__text">
                                <a href="#">Вакансии</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column footer__column-3">
                    <p class="footer__title">График работы</p>
                    <div class="footer__days">
                        <div class="footer__day"></div>
                        <div class="footer__day"></div>
                        <div class="footer__day"></div>
                        <div class="footer__day"></div>
                        <div class="footer__day"></div>
                        <div class="footer__day gray"></div>
                        <div class="footer__day gray"></div>
                    </div>
                    <p class=" footer__text">Пн - Пт: <span>09:00 - 19:00</span></p>
                    <p class=" footer__text">Сб - Вс: <span>выходной</span></p>
                </div>
                <div class="footer__column footer__column-4">
                    <p class="footer__title">Контакты</p>
                    <div class="footer__contact">
                        <p>Звоните:</p>
                        <a class=" footer__text" href="tel:77077895550">8 (707) 789-55-50</a>
                    </div>
                    <div class="footer__contact">
                        <p>WhatsApp:</p>
                        <a class=" footer__text" href="https://wa.me/+77077895550">8 (707) 789-55-50</a>
                    </div>
                    <div class="footer__contact">
                        <p>Пишите:</p>
                        <a class=" footer__text" href="mailto:zakaz@easyway.kz">zakaz@easyway.kz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>s
</footer>