<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="./index.html"><img src="./assets/img/header/logo.svg" alt="Logo" class="logo"></a>
            <div class="header__contacts">
                <div class="header__contact"><a href="mailto:zakaz@easyway.kz">zakaz@easyway.kz</a></div>
                <div class="header__contact"><a href="tel:77077895550">8 (707) 789-55-50</a></div>
                <div class="header__contact"><a class="header__btn btn" href="#popup">Заказать звонок</a></div>
            </div>
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>

                <ul class="menu__box">
                    <li>
                        <a href="./index.html" class="menu__item logo"><img src="./assets/img/header/logo.svg"
                                alt="Logo" class="logo"></a>
                    </li>
                    <li>
                        <button class="menu__item accordion">Информация</button>
                        <div class="panel">
                            <a class="menu__item" href="./about.html">О компании</a>

                            <a href="./articles.html">Статьи</a>
                            <a class="menu__item" href="#">Вакансии</a>
                        </div>
                    </li>
                    <li>
                        <button class="menu__item accordion">Подъемкники для инвалидов</button>
                        <div class="panel">
                            <a class="menu__item" href="./catalog.html">Все подъемники</a>
                            <a class="menu__item" href="#">Вертикальные</a>
                            <a class="menu__item" href="#">Наклонные</a>
                            <a class="menu__item" href="#">Передвежные</a>
                            <a class="menu__item" href="#">Лестничные</a>
                        </div>
                    </li>
                    <li><a class="menu__item" href="./delivery.html">Доставка</a></li>
                    <li><a class="menu__item" href="./service.html">Монтаж и сервис</a></li>
                    <li><a class="menu__item" href="#">Наши объекты</a></li>
                    <li><a class="menu__item margin-bottom" href="./contact.html">Контакты</a></li>
                    <div class="menu__item contact"><a href="mailto:zakaz@easyway.kz">zakaz@easyway.kz</a></div>
                    <div class="menu__item contact"><a href="tel:77077895550">8 (707) 789-55-50</a></div>
                    <div class="menu__item btn"><a href="#popup">Заказать звонок</a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="header__bottom">
            <nav>
                <ul class="header__links">
                    <li class="header__link">
                        <div class="dropdown">
                            <a href="#">Информация <img src="./assets/img/header/arrow.svg" alt=""></a>
                            <div class="dropdown-content">
                                <a href="./about.html">О компании</a>
                                <a href="./articles.html">Статьи</a>
                                <a href="./careers.html">Вакансии</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__link">
                        <div class="dropdown">
                            <a href="./catalog.html">Подъемники для инвалидов <img src="./assets/img/header/arrow.svg"
                                    alt=""></a>
                            <div class="dropdown-content">
                                <a href="#">Вертикальные</a>
                                <a href="#">Наклонные</a>
                                <a href="#">Передвежные</a>
                                <a href="#">Лестничные</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__link"><a href="./delivery.html">Доставка</a></li>
                    <li class="header__link"><a href="./service.html">Монтаж и сервис</a></li>
                    <li class="header__link"><a href="#">Наши объекты</a></li>
                    <li class="header__link"><a href="./contact.html">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>