<div class="popup" id="popup">
    <a href="#header" class="popup_area"></a>
    <div class="popup_body">
        <div class="popup_content">
            <h1 class="title">Оставить заявку</h1>
            <form action="/" class="popup_form">
                <input required class="form_input" type="text" placeholder="Ваше имя">
                <input required class="form_input" type="tel" placeholder="Ваш телефон">
                <textarea placeholder="Ваш вопрос" class="form_textarea" name="Вопрос" id="question" cols="30"
                    rows="5"></textarea>
                <div class="checkbox">
                    <input type="checkbox" class="custom-checkbox" name="popup-checkbox" id="popup-checkbox"><label
                        for="popup-checkbox">Согласен на обработку
                        персональных данных</label>
                </div>
                <button disabled type="submit" id="popup-btn" class="btn popup_btn">Заказать звонок</button>
            </form>
        </div>
    </div>
</div>