<section class="section main-request">
    <div class="container">
        <h1 class="title main-request__title">Остались вопросы?</h1>
    </div>
    <div class="main-request__wrapper blue-bg__wrapper page-main__wrapper">
        <div class="container blue-bg__container page-main__container">
            <div class="main-request__inner blue-bg__inner page-main__inner">
                <div class="main-request__info blue-bg__content page-main__info">
                    <div class="page-main__blue main-request__blue">
                        <div class="page-main__square main-request__square"></div>
                        <div class="main-request__img blue-bg__img page-main__img">
                            <img src="./assets/img/main/request.webp" alt="">
                        </div>
                    </div>
                    <form action="/" class="form">
                        <input type="text" required name="text-input" id="" placeholder="Ваше имя">
                        <input type="tel" required name="tel-input" id="" placeholder="Ваш телефон">
                        <textarea name="textaria" id="" cols="10" rows="5" placeholder="Ваш вопрос"></textarea>
                        <div class="checkbox">
                            <input type="checkbox" class="custom-checkbox" name="checkbox" id="form__checkbox"><label
                                for="form__checkbox">Согласен на обработку
                                персональных данных</label>
                        </div>
                        <button disabled type="submit" id="form__btn" class="btn form__btn">Заказать звонок</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/js/request.js"></script>
</section>