<section class="section main-trust">
    <div class="container main-trust__container">
        <h1 class="main-trust__title title">Нам доверяют</h1>
        <div class="main-trust__slider swiper">
            <div class="swiper-wrapper main-trust-slider-wrapper">
                <div class="main-trust__item swiper-slide">
                    <img src="./assets/img/main/trust/bi.svg" alt="BI Group" class="main-trust__img">
                </div>
                <div class="main-trust__item swiper-slide">
                    <img src="./assets/img/main/trust/forte.svg" alt="BI Group" class="main-trust__img">
                </div>
                <div class="main-trust__item swiper-slide">
                    <img src="./assets/img/main/trust/bk.svg" alt="BI Group" class="main-trust__img">
                </div>
                <div class="main-trust__item swiper-slide">
                    <img src="./assets/img/main/trust/liftkz.svg" alt="BI Group" class="main-trust__img">
                </div>
                <div class="main-trust__item swiper-slide">
                    <img src="./assets/img/main/trust/bi.svg" alt="BI Group" class="main-trust__img">
                </div>
                <div class="main-trust__item swiper-slide">
                    <img src="./assets/img/main/trust/forte.svg" alt="BI Group" class="main-trust__img">
                </div>
                <div class="main-trust__item swiper-slide">
                    <img src="./assets/img/main/trust/bk.svg" alt="BI Group" class="main-trust__img">
                </div>
                <div class="main-trust__item swiper-slide">
                    <img src="./assets/img/main/trust/liftkz.svg" alt="BI Group" class="main-trust__img">
                </div>
            </div>

            <div class="swiper-pagination main-trust-pagination"></div>
        </div>
    </div>
</section>