<section class="section item-why">
    <div class="container">
        <h1 class="title">Почему выбирают именно нас?</h1>
        <ul class="item-why__cards">
            <li class="item-why__card">
                <img src="./assets/img/item/why/manifacture.svg" alt="">
                <h2 class="item-why__title">Собственное производство</h2>
            </li>
            <li class="item-why__card">
                <img src="./assets/img/item/why/certificate.svg" alt="">
                <h2 class="item-why__title">Товар сертифицирован</h2>
            </li>
            <li class="item-why__card">
                <img src="./assets/img/item/why/garantee.svg" alt="">
                <h2 class="item-why__title">Гарантия 12 месяцев</h2>
            </li>
            <li class="item-why__card">
                <img src="./assets/img/item/why/delivery.svg" alt="">
                <h2 class="item-why__title">Доставка от 1 дня</h2>
            </li>
        </ul>
    </div>
</section>